<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.sys.dao.RegisterDao">
	<!-- 基于房号查询guestName,roomNum,intime,outtime, livemoney,earnest这些信息并存在map集合中 -->
	<select id="findRegisterObjects" resultType="map">
		select
		guestName,roomNum,intime,outtime,
		livemoney,earnest from register where
		roomNum=#{roomNum}
	</select>
	<!-- 基于房号在点击结账后修改登记表房间状态 -->
	<update id="updateRoomState">
		update register set roomstate="空闲"
		where roomNum=#{roomNum}
	</update>
</mapper>
		