<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.sys.dao.SysBillsDao">
	<!-- 基于id删除日志对象 -->
	<delete id="deleteObjects">
		delete from goodsconsume
		where id in <!-- (1,2,3,4) -->
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>


	<!-- 共性代码使用sql元素定义 -->
	<sql id="queryWhereId">
		<where>
			<if test="roomNum!=null and roomNum!=''">
				roomNum like concat("%",#{roomNum},"%")
			</if>
		</where>
	</sql>
	<select id="getRowCount" resultType="int">
		select count(*)
		from goodsconsume
		<include refid="queryWhereId" />
	</select>
	<select id="findPageObjects" resultType="com.hm.sys.entity.SysBills">
		select *
		from goodsconsume
		<include refid="queryWhereId" />
		order by createtime desc
		limit #{startIndex},#{pageSize}
	</select>

	

	








</mapper>