<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.sys.dao.SysGoodsDao">

	<select id="getRowCount" resultType="int">
		select count(*)
		from goods
		<include refid="queryWhereId" />
	</select>

	<select id="findPageObjects" resultType="com.hm.sys.entity.SysGoods">
		select *
		from goods
		<include refid="queryWhereId" />
		order by id desc
		limit #{startIndex},#{pageSize}
	</select>

	<sql id="queryWhereId">
		<where>
			<if test="goods!=null and goods!=''">
				goods like concat("%",#{goods},"%")
			</if>
		</where>
	</sql>

</mapper>